# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.log


# Environments
.venv/
venv/
env/

# PyTorch
*.pt
*.pth

# Data
data/raw/
data/clean/

# Logs
logs/
runs/

# OS
.DS_Store
Thumbs.db


#IDE
.vscode/
.idea/
